<%= form_with model: announcement do |form| %>

  <div class="row mb-3">
    <div class="col">
      <label class="col col-form-label"> <span class="txt-red">*</span> Announcement Title</label>
      <%= form.text_field :announcement_title, class: "form-control" %>

      <% announcement.errors.full_messages_for(:announcement_title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label class="col col-form-label"> <span class="txt-red">*</span> Announcement ID</label>
      <%= form.text_field :announcement_id, value: new_announcement_id, readonly: true, input: true, class: "form-control" %>
    </div>

    <div class="col">
      <label class="col-form-label col"> <span class="txt-red">*</span> Status</label>
      <%= form.select :announcement_status, announcement_status_options, {}, class: "form-select" %>
      <% announcement.errors.full_messages_for(:announcement_status).each do |message| %>
        <div class="txt-red"><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label class="col-form-label col"> <span class="txt-red">*</span> Body</label>
      <%= form.text_area :announcement_body, class: "form-control", rows: 9 %>
      <% announcement.errors.full_messages_for(:announcement_body).each do |message| %>
        <div class="txt-red"><%= message %></div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :author_id, value: current_user_id, readonly: true %>
  </div>

  <div class="row mb-3">
    <div class="txt-align-right">
    <%= form.submit button_text, class: "btn btn-primary custom-btn" %>
    </div>
  </div>
<% end %>