<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
    .field {padding-bottom: 1em;}
    .req {color: red}
</style>

<div>
  <p><%= link_to "<- Back", user_path %></p>
</div>

<h1>Assign Moderator</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" %>
    <% # ------------------------------------------------------------------------------------------ # %>
    <%= form_with model: @user do |form| %>
      <%= render "user-details-summary" %>
      <br>

      <% # Store the previous role into `user_role_original` column. %>
      <% if @user.user_role != "Moderator" %>
        <%= form.hidden_field :user_role_original, value: @user.user_role, readonly: true %>
      <% else %>
        <%= form.hidden_field :user_role_original, value: "-", readonly: true %>
      <% end %>

      <div class="field">

        <span>User Role:</span><br>
        <% if @user.user_role != "Moderator" %>
          <%= form.select :user_role, [@user.user_role, "Moderator"] %>
        <% else %>
          <%= form.select :user_role, [@user.user_role_original, "Moderator"] %>
        <% end %>
        <% @user.errors.full_messages_for(:user_role).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <hr>
      <div>
        <%= form.submit @button_text %>
      </div>
    <% end %>

  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>