<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
    .field {padding-bottom: 1em;}
    .req {color: red}
</style>

<div>
  <p><%= link_to "<- Back", user_path %></p>
</div>

<h1>Student Status</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Manager" %>
    <% # ------------------------------------------------------------------------------------------ # %>
    <%= form_with model: @user do |form| %>
      <%= render "user-details-summary" %>
      <br>

<!--      <div class="field">-->
<!--        <span>User Status:</span><br>-->
<!--        <span><i>This affects the user access of Student in this portal - please choose accordingly.</i></span><br>-->
        <%#= form.select :user_status, user_status_options %>
        <%# @user.errors.full_messages_for(:user_status).each do |message| %>
<!--          <div><%#= message %></div>-->
        <%# end %>
<!--      </div>-->

      <div class="field">
        <span>Student Status:</span><br>
        <%= form.select :student_status, student_status_options %>
        <% @user.errors.full_messages_for(:student_status).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <hr>
      <div>
        <%= form.submit @button_text %>
      </div>
    <% end %>

  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>