<style>
    #all {visibility: visible; display: unset;}
    #student {visibility: hidden; display: none;}
    #supervisor {visibility: hidden; display: none;}
    #moderator {visibility: hidden; display: none;}
</style>

<script type="text/javascript">
    function showHide(elementId) {
        let el = document.getElementById(elementId);

        if (el.style.visibility === "hidden") {
            el.style.visibility = "visible";
        } else if (el.style.visibility === "visible") {
            el.style.visibility = "hidden";
        }
    }

    function toggle(elementId) {
        const list = ["all", "student", "supervisor", "moderator"];

        let el_tog = document.getElementById(elementId);
        let el_tog_tab = document.getElementById(elementId + "_tab");  // Tab fx
        el_tog.style.visibility = "visible";
        el_tog.style.display = "unset";
        el_tog_tab.classList.add("active");  // Tab fx
        el_tog_tab.classList.add("tab-bg");  // Tab fx
        console.log(el_tog);

        for (let i = 0; i < list.length; i++) {
            if (list[i] !== elementId) {
                let el_left = document.getElementById(list[i]);
                let el_left_tab = document.getElementById(list[i] + "_tab");  // Tab fx
                el_left.style.visibility = "hidden";
                el_left.style.display = "none";
                el_left_tab.classList.remove("active");  // Tab fx
                el_left_tab.classList.remove("tab-bg");  // Tab fx
            }
        }
    }
</script>

<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">User Management</h3>
      </div>
    </div>
  </div>

  <div class="container-contents">

    <div class="container">
      <%= form_tag "/usermgmt", method: :get do %>
        <div class="row sm-3">
          <div class="col">
            <label for="colFormLabel" class="col-form-label">Search Keyword</label>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <%= text_field_tag :search_keyword, params[:search_keyword], class: "form-control" %>
          </div>
          <div class="col">
            <%= submit_tag "Search", class: "btn btn-primary custom-btn" %>
          </div>
        </div>
      <% end %>
      <hr>
    </div>

    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="all_tab" class="nav-link tab-font active tab-bg" aria-current="page" onclick="toggle('all')">All</a>
        </li>
        <li class="nav-item">
          <a id="student_tab" class="nav-link tab-font" onclick="toggle('student')">Student</a>
        </li>
        <li class="nav-item">
          <a id="supervisor_tab" class="nav-link tab-font" onclick="toggle('supervisor')">Supervisor</a>
        </li>
        <li class="nav-item">
          <a id="moderator_tab" class="nav-link tab-font" tabindex="-1" onclick="toggle('moderator')">Moderator</a>
        </li>
      </ul>
    </div>

    <%# LIST RENDER %>
    <div id="all" class="container"><%= render "user_list", users: @users %></div>
    <div id="student" class="container"><%= render "user_list", users: @user_student %></div>
    <div id="supervisor" class="container"><%= render "user_list", users: @user_supervisor %></div>
    <div id="moderator" class="container"><%= render "user_list", users: @user_moderator %></div>
  </div>

</div>

<!--<div>-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td><input type=button onClick="toggle('all')" value="All" /></td>-->
<!--      <td><input type=button onClick="toggle('student')" value="Student" /></td>-->
<!--      <td><input type=button onClick="toggle('supervisor')" value="Supervisor" /></td>-->
<!--      <td><input type=button onClick="toggle('moderator')" value="Moderator" /></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <br>-->
<!--</div>-->

<!--<div>-->
<%#= form_tag "/usermgmt", method: :get do %>
<!--    <span>Search Keyword: </span>-->
<%#= text_field_tag :search_keyword, params[:search_keyword] %>
<%#= submit_tag "Search" %>
<%# end %>
<!--  <br>-->
<!--</div>-->