<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">View User</h3>
      </div>
      <div class="col col-padding-kill txt-align-right">
        <%= link_to "Back", usermgmt_path, class: "btn btn-primary custom-btn" %>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <div class="container">

      <% if user_signed_in? %>
        <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>

          <h5 class="h3-site">User Info</h5>
          <table class="table table-borderless table-sm">

            <tr>
              <th class="col-3 table-no-l-pad">User ID</th>
              <td><%= @user.user_id %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">User Role</th>
              <td><%= @user.user_role %></td>
            </tr>

            <% if @user.user_role != "Student" %>
              <tr>
                <th class="table-no-l-pad">Additional Role</th>
                <td><%= @user_is_supervisor %></td>
              </tr>
            <% end %>

            <tr>
              <th class="table-no-l-pad">Name</th>
              <td><%= @user.user_name %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">User Status</th>
              <td><%= @user.user_status %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Gender</th>
              <td><%= user_gender_options.each{|k,v| break k if v.include?(User.find(params[:user_id]).user_gender) } %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Gov. ID No.</th>
              <td><%= @user.user_gov_id %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Email Address</th>
              <td><%= @user.email %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Contact Number</th>
              <td><%= @user.user_contact_no %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">User Remarks</th>
              <td><%= "QWERTYUIOP" %></td>
              <%# "gsub(/\n/, '<br/>').html_safe" %>
            </tr>

            <tr>
              <td class="table-no-l-pad">
                <% if current_user.user_role == "Coordinator" && current_user.user_id != @user.user_id %>
                  <%= link_to "Assign Moderator", edit_moderator_assign_path %>
                <% end %>

                <% if current_user.user_role == "Manager" && @user.user_role != "Student" %>
                  <%= link_to "Assign Supervisor", edit_supervisor_assign_path %>
                <% end %>

                <% if current_user.user_role == "Manager" && current_user.user_id != @user.user_id %>
                  <%= link_to "Edit Role/Status", edit_user_role_status_path %>
                <% end %>
              </td>
            </tr>
          </table>

          <% if @user.user_role == "Student" %>
            <hr>
            <%# ---------------------------------------------------- %>

            <h5 class="h3-site">Student Info</h5>
            <table class="table table-borderless table-sm">

              <tr>
                <th class="col-3 table-no-l-pad">Batch</th>
                <td><%= @batch_name %></td>
              </tr>

              <tr>
                <th class="table-no-l-pad">Batch Status</th>
                <td><%= @batch_status %></td>
              </tr>

              <tr>
                <th class="table-no-l-pad">Specialisation</th>
                <td><%= @user.student_specialisation %></td>
              </tr>

              <tr>
                <th class="table-no-l-pad">Student Status</th>
                <td><%= @user.student_status %></td>
              </tr>

              <tr>
                <th class="table-no-l-pad">Project Progress ID</th>
                <td><%= "ASDFGHJKL" %></td>
              </tr>

              <% if current_user.user_role == "Manager" %>
                <tr>
                  <td class="table-no-l-pad">
                    <%= link_to "Update Batch/Specialisation", edit_stud_spec_batch_path %>
                    <%= link_to "Update Student Status", edit_stud_status_path %>
                  </td>
                </tr>
              <% end %>

            </table>
          <% end %>



        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>
    </div>
  </div>
</div>