<style>
    table, td {border: 1px solid black;}
</style>

<h1>Presentation Parameters</h1>

<div>
  <% if user_signed_in? %>
    <% if current_user.user_role == "Manager" %>

      <table>
        <tr>
          <th>Param ID</th>
          <th>Date Start</th>
          <th>Date End</th>
          <th>Name</th>
          <th>Locations</th>
          <th>Action</th>
        </tr>

        <% @pres_params.each do |param| %>
          <tr>
            <td><%= param.param_id %></td>
            <td><%= param.presentation_date_start.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= param.presentation_date_end.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= param.param_name %></td>
            <td><%= param.presentation_venue %></td>
            <td><%= link_to "View", param %></td>
          </tr>
        <% end %>
      </table>

<!--      <div>-->
<!--        <span><%#= link_to "New", new_batch_path %></span>-->
<!--      </div>-->

    <% else %>
      <p><%= errmsg_no_permission_to_access %></p>
    <% end %>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
</div>