<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
</style>

<div>
  <p><%= link_to "<- Back", presentation_params_path %></p>
</div>

<h1>Presentation Parameter</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Manager" %>
    <% # ------------------------------------------ # %>
    <div>
      <table>
        <% # --------- Param ID --------- # %>
        <tr>
          <td class="thead_vertical">Param ID</td>
          <td><%= @pres_param.param_id %></td>
        </tr>

        <% # --------- Date Start --------- # %>
        <tr>
          <td class="thead_vertical">Date Start</td>
          <td><%= @pres_param.presentation_date_start.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>

        <% # --------- Date End --------- # %>
        <tr>
          <td class="thead_vertical">Date End</td>
          <td><%= @pres_param.presentation_date_end.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>

        <% # --------- Param Name --------- # %>
        <tr>
          <td class="thead_vertical">Param Name</td>
          <td><%= @pres_param.param_name %></td>
        </tr>

        <% # --------- Location --------- # %>
        <tr>
          <td class="thead_vertical">Locations</td>
          <td><%= @pres_param.presentation_venue %></td>
        </tr>
      </table>

    </div>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>