<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
</style>

<div>
  <p><%= link_to "<- Back", presentation_params_path %></p>
</div>

<h1>Presentation Parameter</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Manager" %>
    <% # ------------------------------------------ # %>
    <div>
      <table>
        <% # --------- Param ID --------- # %>
        <tr>
          <td class="thead_vertical">Param ID</td>
          <td><%= @pres_param.param_id %></td>
        </tr>

        <% # --------- Date Start --------- # %>
        <tr>
          <td class="thead_vertical">Date Start</td>
          <td><%= @pres_param.presentation_date_start.strftime('%d/%m/%Y') %></td>
        </tr>

        <% # --------- Date End --------- # %>
        <tr>
          <td class="thead_vertical">Date End</td>
          <td><%= @pres_param.presentation_date_end.strftime('%d/%m/%Y') %></td>
        </tr>

        <% # --------- Param Name --------- # %>
        <tr>
          <td class="thead_vertical">Param Name</td>
          <td><%= @pres_param.param_name %></td>
        </tr>

        <% # --------- Param Status --------- # %>
        <tr>
          <td class="thead_vertical">Param Status</td>
          <td><%= @pres_param.param_status %></td>
        </tr>

        <% # --------- Location --------- # %>
        <tr>
          <td class="thead_vertical">Locations</td>
          <td>
            <% @pres_param_venues.each do |venue| %>
              <%= venue %><br>
            <% end %>
          </td>
        </tr>

        <% # --------- Time Slots --------- # %>
        <tr>
          <td class="thead_vertical">Time Slots</td>
          <td>
            <% @pres_param_slots.each do |slot| %>
              <%= slot %><br>
            <% end %>
          </td>
        </tr>
      </table>

      <div>
        <%= link_to "Edit", edit_presentation_param_path %>
      </div>

    </div>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>