<div class="container container-page">
  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">Presentation Parameter</h3>
      </div>
      <div class="col col-adding-kill txt-align-right">
        <p><%= link_to "Back", presentation_params_path, class: "btn btn-primary custom-btn" %></p>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.user_role == "Manager" %>

          <table class="table table-borderless table-sm">
            <tr>
              <th class="col-3 table-no-l-pad">Param ID</th>
              <td><%= @pres_param.param_id %></td>
            </tr>

            <tr>
              <th class="col-3 table-no-l-pad">Param Name</th>
              <td><%= @pres_param.param_name %></td>
            </tr>

            <tr>
              <th class="col-3 table-no-l-pad">Param Status</th>
              <td><%= @pres_param.param_status %></td>
            </tr>

            <tr>
              <th class="col-3 table-no-l-pad">Date Start</th>
              <td><%= @pres_param.presentation_date_start.strftime('%d/%m/%Y') %></td>
            </tr>

            <tr>
              <th class="col-3 table-no-l-pad">Date End</th>
              <td><%= @pres_param.presentation_date_end.strftime('%d/%m/%Y') %></td>
            </tr>

            <tr>
              <th class="col-3 table-no-l-pad">Locations</th>
              <td>
                <% @pres_param_venues.each do |venue| %>
                  <%= venue %><br>
                <% end %>
              </td>
            </tr>

            <tr>
              <th class="col-3 table-no-l-pad">Time Slots</th>
              <td>
                <% @pres_param_slots.each do |slot| %>
                  <%= slot %><br>
                <% end %>
              </td>
            </tr>

            <tr>
              <td class="table-no-l-pad"><%= link_to "Edit", edit_presentation_param_path %></td>
            </tr>
          </table>

        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>
    </div>
  </div>
</div>