<%= form_with model: project do |form| %>

  <div class="field">
    <span class="req">* </span>
    <span>Student 1 ID:</span><br>
    <%= form.text_field :student_one_user_id %>

    <% project.errors.full_messages_for(:student_one_user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <span class="req">* </span>
    <span>Student 1 Subtitle:</span><br>
    <%= form.text_field :student_one_subtitle %>

    <% project.errors.full_messages_for(:student_one_subtitle).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <span class="req">* </span>
    <span>Student 1 Work Distribution:</span><br>
    <%= form.text_field :student_one_work_distribution %>

    <% project.errors.full_messages_for(:student_one_work_distribution).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <% # ====================================== # %>

  <div class="field">
    <span>Student 2 ID:</span><br>
    <%= form.text_field :student_two_user_id %>

    <% project.errors.full_messages_for(:student_two_user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <span>Student 2 Subtitle:</span><br>
    <%= form.text_field :student_two_subtitle %>

    <% project.errors.full_messages_for(:student_two_subtitle).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <span>Student 2 Work Distribution:</span><br>
    <%= form.text_field :student_two_work_distribution %>

    <% project.errors.full_messages_for(:student_two_work_distribution).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<% end %>