<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">Edit Project</h3>
      </div>
      <div class="col col-padding-kill txt-align-right">
        <%= link_to "Back", project_path, class: "btn btn-primary custom-btn" %>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.user_role == "Coordinator"  %>
          <h5 class="h3-site">Personnel Details</h5>
          <%= form_with model: @project do |form| %>

            <%= render "proj-details-summary" %>

            <div class="row mb-3">
              <% # ------ Supervisor ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Supervisor</label>
                <%= form.select :supervisor_id, supervisor_options, {}, class: "form-select" %>
                <% @project.errors.full_messages_for(:supervisor_id).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>

              <% # ------ Co-supevisor ----- # %>
              <div class="col">
                <label class="col col-form-label">Co-supervisor</label>
                <%= form.select :co_supervisor_id, co_supervisor_options, {}, class: "form-select" %>
                <% @project.errors.full_messages_for(:co_supervisor_id).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# ------------------------------------------- %>

            <div class="row mb-3">

              <% # ------ Student ONE Subtitle ----- # %>
              <div class="col">
                <label class="col col-form-label">Student 1 Subtitle</label>
                <%= form.text_field :student_one_subtitle, class: "form-control" %>
                <% @project.errors.full_messages_for(:student_one_subtitle).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
                <div class="col">
                </div>
              </div>
            </div>

            <%# ------------------------------------------- %>

            <div class="row mb-3">
              <% # ------ Student ONE Work Distribution ----- # %>
              <div class="col">
                <label class="col col-form-label">Student 1 Work Distribution</label>
                <%= form.text_area :student_one_work_distribution, class: "form-control", rows: 3 %>
                <% @project.errors.full_messages_for(:student_one_work_distribution).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# ------------------------------------------- %>

            <div class="row mb-3">

              <% # ------ Student TWO Subtitle ----- # %>
              <div class="col">
                <label class="col col-form-label">Student 2 Subtitle</label>
                <%= form.text_field :student_two_subtitle, class: "form-control" %>
                <% @project.errors.full_messages_for(:student_two_subtitle).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
                <div class="col">
                </div>
              </div>
            </div>



            <div class="row mb-3">
              <% # ------ Student TWO Work Distribution ----- # %>
              <div class="col">
                <label class="col col-form-label">Student 2 Work Distribution</label>
                <%= form.text_area :student_two_work_distribution, class: "form-control", rows: 3 %>
                <% @project.errors.full_messages_for(:student_two_work_distribution).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# ------------------------------------------- %>

            <div class="row mb-3">
              <div class="txt-align-right">
                <%= form.submit "Update", class: "btn btn-primary custom-btn" %>
              </div>
            </div>

          <% end %>
        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>
    </div>
  </div>
</div>