<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
    .field {padding-bottom: 1em;}
    .req {color: red}
</style>

<div>
  <p><%= link_to "<- Back", project_path %></p>
</div>

<h1>Project Personnel Details</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" %>
    <% # ------------------------------------------------------------------------------------------ # %>

    <%= form_with model: @project do |form| %>

      <%= render "proj-details-summary" %>
      <br>

      <% # ------ Supervisor ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Supervisor:</span><br>
        <%= form.select :supervisor_id, supervisor_options%>
        <% @project.errors.full_messages_for(:supervisor_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Co-supevisor ----- # %>
      <div class="field">
        <span>Co-supervisor:</span><br>
        <%= form.select :co_supervisor_id, co_supervisor_options%>
        <% @project.errors.full_messages_for(:co_supervisor_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Moderator ----- # %>
      <div class="field">
        <span>Moderator:</span><br>
        <%= form.select :moderator_id, co_supervisor_options%>
        <% @project.errors.full_messages_for(:moderator_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Student ONE ID ----- # %>
      <div class="field">
        <span>Student 1 ID:</span><br>
        <%= form.text_field :student_one_user_id %>
        <% @project.errors.full_messages_for(:student_one_user_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Student ONE Subtitle ----- # %>
      <div class="field">
        <span>Student 1 Subtitle:</span><br>
        <%= form.text_field :student_one_subtitle %>
        <% @project.errors.full_messages_for(:student_one_subtitle).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Student ONE Work Distribution ----- # %>
      <div class="field">
        <span>Student 1 Work Distribution:</span><br>
        <%= form.text_field :student_one_work_distribution %>
        <% @project.errors.full_messages_for(:student_one_work_distribution).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <hr>
      <div>
        <%= form.submit @button_text %>
      </div>

    <% end %>
    <% # ------------------------------------------------------------------------------------------ # %>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>