<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
</style>

<div>
  <p><%= link_to "<- Back", project_path %></p>
</div>

<h1>Review Project</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" %>
    <% # ------------------------------------------------------------------------------------------ # %>

    <%= form_with model: @project do |form| %>

      <%= render "proj-details-summary" %>
      <br>

      <% # ------ Project Status ----- # %>
      <div class="field">
        <span>Project Approval Status:</span>
        <%= form.select :project_approval_status, project_approval_options %>
        <% @project.errors.full_messages_for(:project_approval_status).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Reviewed By ----- # %>
      <div class="field">
        <%= form.hidden_field :reviewed_by, value: current_user.user_id, readonly: true %>
      </div>

      <hr>
      <div>
        <%= form.submit @button_text %>
      </div>

    <% end %>
    <% # ------------------------------------------------------------------------------------------ # %>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>