<style>
    .field {padding-bottom: 1em;}
    .req {color: red}
</style>

<div>
  <p><%= link_to "<- Back", projects_path() %></p>
</div>

<h1>Edit Project</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator"  %>
    <%= form_with model: @project do |form| %>

      <% # ------ Project ID ----- # %>
      <div class="field">
        <span>Project ID: <%= @project.project_id %></span>
        <%= form.hidden_field :project_id, value: @project.project_id, readonly: true %><br>
      </div>

      <% # ------ Project Title ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Title:</span><br>
        <%= form.text_field :project_title %>
        <% @project.errors.full_messages_for(:project_title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Supervisor ID ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Supervisor ID:</span><br>
        <%= form.select :supervisor_id, supervisor_options %>
        <% @project.errors.full_messages_for(:supervisor_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Co-supervisor ID ----- # %>
      <div class="field">
        <span>Co-supervisor ID:</span><br>
        <%= form.select :co_supervisor_id, co_supervisor_options %>
        <% @project.errors.full_messages_for(:co_supervisor_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Status ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Status:</span><br>
        <%= form.select :project_status, project_status_options %>
        <% @project.errors.full_messages_for(:project_status).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Batch ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Batch:</span><br>
        <%= form.select :batch_id, batch_options %>
        <% @project.errors.full_messages_for(:batch_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Type ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Type:</span><br>
        <%= form.select :project_type, project_type_options %>
        <% @project.errors.full_messages_for(:project_type).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Specialisation ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Specialisation:</span><br>
        <%= form.select :project_specialisation, specialisation_options %>
        <% @project.errors.full_messages_for(:project_specialisation).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Category ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Category:</span><br>
        <%= form.text_field :project_category %>
        <% @project.errors.full_messages_for(:project_category).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Focus ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Focus:</span><br>
        <%= form.text_field :project_focus %>
        <% @project.errors.full_messages_for(:project_focus).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Other Specialisation ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Other Specialisation:</span><br>
        <%= form.text_field :project_other_specialisations %>
        <% @project.errors.full_messages_for(:project_other_specialisations).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <hr>
      <% # ================================================================================================== %>
      <% # ================================================================================================== %>

      <% # ------ Project Description ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Description:</span><br>
        <%= form.text_area :project_description %>
        <% @project.errors.full_messages_for(:project_description).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Objectives  ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Objectives:</span><br>
        <%= form.text_area :project_objective %>
        <% @project.errors.full_messages_for(:project_objective).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <% # ------ Project Scope ----- # %>
      <div class="field">
        <span class="req">* </span>
        <span>Project Scope:</span><br>
        <%= form.text_area :project_scope %>
        <% @project.errors.full_messages_for(:project_scope).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <hr>
      <% # ================================================================================================== %>
      <% # ================================================================================================== %>


      <hr>
      <div>
        <%= form.submit @button_text %>
      </div>
    <% end %>

  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>
