<style>
    table, td {border: 1px solid black;}
</style>

<h1>Projects</h1>

<div>
  <% if user_signed_in? %>
    <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>

      <div>
        <%= form_tag "/projects", method: :get do %>
          <span>Search Keyword: </span>
          <%= text_field_tag :search_keyword, params[:search_keyword] %>
          <%= submit_tag "Search" %>
        <% end %>
        <br>
      </div>

      <table>
        <tr>
          <th>Project ID</th>
          <th>Project Title</th>
          <th>Lecturer</th>
          <th>Specialisation</th>
          <th>Project Details</th>
        </tr>

        <% @projects.each do |project| %>
          <% # Find out the name of lecturer/supervisor. Temporary variable. %>
          <% lecturer = @users.find(project.supervisor_id) %>

          <tr>
            <td><%= project.project_id %></td>
            <td><%= project.project_title %></td>

            <% # Check if local variable `lecturer` is empty. %>
            <% unless lecturer.nil? || lecturer == ""  %>
              <td><%= lecturer.user_name %></td>
            <% else %>
              <td><%= project.supervisor_id %></td>
            <% end %>

            <td><%= project.project_specialisation %></td>
            <td>
              <%= link_to "View", project %>
              <% if current_user.user_role == "Coordinator" %>
                <span> | <%= link_to "View2", project %>></span>
              <% end %>
            </td>
          </tr>
        <% end %>

      </table>
    <% else %>
      <p><%= errmsg_no_permission_to_access %></p>
    <% end %>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
</div>