<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">New Project</h3>
      </div>
      <div class="col col-padding-kill txt-align-right">
        <%= link_to "Back", projects_path, class: "btn btn-primary custom-btn" %>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.user_role == "Coordinator" %>

          <%= form_with model: @project do |form| %>

            <div class="row mb-3">
              <% # ------ Project ID ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project ID</label>
                <%= form.text_field :project_id, class: "form-control" %>
                <% @project.errors.full_messages_for(:project_id).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>

              <% # ------ Specialisation ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Specialisation</label>
                <%= form.select :project_specialisation, specialisation_options, {}, class: "form-select" %>
                <% @project.errors.full_messages_for(:project_specialisation).each do |message| %>
                  <div class="txt-red"<%= message %></div>
                <% end %>
                </div>
            </div>

            <%# --------------------------- %>

            <div class="row mb-3">
              <% # ------ Project Title ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Title</label>
                <%= form.text_field :project_title, class: "form-control" %>
                <% @project.errors.full_messages_for(:project_title).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# --------------------------- %>

            <div class="row mb-3">
              <% # ------ Project Batch ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Batch</label>
                <%= form.select :batch_id, batch_options, {}, class: "form-select" %>
                <% @project.errors.full_messages_for(:batch_id).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>

              <% # ------ Project Type ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Type</label>
                <%= form.select :project_type, project_type_options, {}, class: "form-select" %>
                <% @project.errors.full_messages_for(:project_type).each do |message| %>
                  <div class="txt-red"<%= message %></div>
                <% end %>
                </div>
            </div>

            <%# --------------------------- %>

            <div class="row mb-3">
              <% # ------ Project Focus ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Focus</label>
                <%= form.text_field :project_focus, class: "form-control" %>
                <% @project.errors.full_messages_for(:project_focus).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>

              <% # ------ Co-supervisor ID ----- # %>
              <div class="col">
                <label class="col col-form-label">Co-supervisor ID</label>
                <%= form.select :co_supervisor_id, co_supervisor_options, {}, class: "form-select" %>
                <% @project.errors.full_messages_for(:co_supervisor_id).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# --------------------------- %>

            <div class="row mb-3">
              <% # ------ Project Category ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Category</label>
                <%= form.text_field :project_category, class: "form-control" %>
                <% @project.errors.full_messages_for(:project_category).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>

              <% # ------ Other Specialisation ----- # %>
              <div class="col">
                <label class="col col-form-label">Other Specialisation</label>
                <%= form.text_field :project_other_specialisations, class: "form-control" %>
                <% @project.errors.full_messages_for(:project_other_specialisations).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# --------------------------- %>
            <br><hr>

            <div class="row mb-3">
              <% # ------ Project Description ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Description</label>
                <%= form.text_area :project_description, class: "form-control", rows: 6 %>
                <% @project.errors.full_messages_for(:project_description).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <div class="row mb-3">
              <% # ------ Project Objectives  ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Objectives</label>
                <%= form.text_area :project_objective, class: "form-control", rows: 6 %>
                <% @project.errors.full_messages_for(:project_objective).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <div class="row mb-3">
              <% # ------ Project Scope ----- # %>
              <div class="col">
                <label class="col col-form-label"><%= r_as %>Project Scope</label>
                <%= form.text_area :project_scope, class: "form-control", rows: 6 %>
                <% @project.errors.full_messages_for(:project_scope).each do |message| %>
                  <div class="txt-red"><%= message %></div>
                <% end %>
              </div>
            </div>

            <%# ARCHIVES %>
            <%# # ------ Supervisor ID ----- # %>
            <%# # ------ Project Status ----- # %>
            <div>
              <%= form.hidden_field :project_approval_status, value: "Pending", readonly: true %>
              <%= form.hidden_field :supervisor_id, value: @current_uid, readonly: true %>
              <%= form.hidden_field :project_status, value: "Vacant", readonly: true %>
              <%= form.hidden_field :moderator_id, value: "-", readonly: true %>

              <% # TEMP PARAMS # %>
              <%= form.hidden_field :is_industry_collab, value: "N", readonly: true %>
              <%#= form.hidden_field :student_one_user_id, value: nil, readonly: true %>
              <%#= form.hidden_field :student_two_user_id, value: nil, readonly: true %>

              <% # TEMP PARAMS - DISABLED! # %>
              <%#= form.hidden_field :project_description, value: "N/A", readonly: true %>
              <%#= form.hidden_field :project_objective, value: "N/A", readonly: true %>
              <%#= form.hidden_field :project_scope, value: "N/A", readonly: true %>
            </div>

            <div class="row mb-3">
              <div class="txt-align-right">
                <%= form.submit @button_text, class: "btn btn-primary custom-btn" %>
              </div>
            </div>
          <% end %>

        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>
      </div>
</div>


</div>