<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">View Project</h3>
      </div>
      <div class="col col-padding-kill txt-align-right">
        <%= link_to "Back", projects_path, class: "btn btn-primary custom-btn" %>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <div class="container">

      <% if user_signed_in? %>
        <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>

          <!--          <div class="row">-->
          <!--            <div class="col">-->
          <!--              <h5 class="h3-site"><%#= @project.project_title %></h5>-->
          <!--            </div>-->
          <!--          </div>-->

          <h5 class="h3-site">Project Overview</h5>
          <table class="table table-borderless table-sm">
            <tr>
              <th class="col-3 table-no-l-pad">Project ID</th>
              <td><%= @project.project_id %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Title</th>
              <td><%= @project.project_title %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Status</th>
              <td><%= @project.project_status %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Batch</th>
              <td><%= batch_options.each{|k,v| break k if v.include?(Project.find(params[:project_id]).batch_id) } %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Type</th>
              <td><%= project_type_options.each{|k,v| break k if v.include?(Project.find(params[:project_id]).project_type) } %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Specialisation</th>
              <td><%= @project.project_specialisation %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Category</th>
              <td><%= @project.project_category %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Focus</th>
              <td><%= @project.project_focus %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Other Specialisation</th>
              <td><%= @other_specialisation %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Created On</th>
              <td>
                <%= @created_at %> <i><%= @last_updated %></i>
              </td>
            </tr>

            <% if current_user.user_role == "Coordinator" %>
              <tr>
                <td class="col-2 table-no-l-pad">
                  <%= link_to "Edit", edit_project_path %>
                </td>
              </tr>
            <% end %>

          </table>

          <hr>
          <%# ---------------------------------------------------- %>

          <h5 class="h3-site">Personnel Details</h5>
          <table class="table table-borderless table-sm">

            <tr>
              <th class="col-3 table-no-l-pad">Supervisor</th>
              <td><%= @supervisor.user_name %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Co-supervisor</th>
              <td><%= @co_supervisor %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Moderator</th>
              <td><%= @moderator %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Student 1 Name</th>
              <td><%= @student_one_user_name %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Student 1 Subtitle</th>
              <td><%= @student_one_subtitle %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Student 1 Work Distribution</th>
              <td><%= @student_one_work_distribution %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Student 2 Name</th>
              <td><%= @student_two_user_name %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Student 2 Subtitle</th>
              <td><%= @student_two_subtitle %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Student 2 Work Distribution</th>
              <td><%= @student_two_work_distribution %></td>
            </tr>

            <% if current_user.user_role == "Coordinator" %>
              <tr>
                <td class="table-no-l-pad">
                  <%= link_to "Edit", edit_personnel_path %>
                </td>
              </tr>
            <% end %>

          </table>

          <hr>
          <%# ---------------------------------------------------- %>

          <h5 class="h3-site">Project Approval Details</h5>
          <table class="table table-borderless table-sm">

            <tr>
              <th class="col-3 table-no-l-pad">Approval Status</th>
              <td><%= @project.project_approval_status %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Approved by</th>
              <td><%= @reviewed_by %></td>
            </tr>

            <% if current_user.user_role == "Coordinator" %>
              <tr>
                <td class="table-no-l-pad">
                  <%= link_to "Review", edit_review_path %>
                </td>
              </tr>
            <% end %>

          </table>

          <hr>
          <%# ---------------------------------------------------- %>

          <h5 class="h3-site">Project Details</h5>
          <table class="table table-borderless table-sm">

            <tr>
              <th class="col-3 table-no-l-pad">Project Description</th>
              <td><%= @project.project_description.gsub(/\n/, '<br/>').html_safe %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Objective</th>
              <td><%= @project.project_objective.gsub(/\n/, '<br/>').html_safe %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Project Scope</th>
              <td><%= @project.project_scope.gsub(/\n/, '<br/>').html_safe %></td>
            </tr>

            <% if current_user.user_role == "Coordinator" %>
              <tr>
                <td class="table-no-l-pad">
                  <%= link_to "Edit", edit_details_path %>
                </td>
              </tr>
            <% end %>

          </table>

          <hr>
          <%# ---------------------------------------------------- %>

          <h5 class="h3-site">Industry Collaboration Details</h5>
          <table class="table table-borderless table-sm">

            <tr>
              <th class="col-3 table-no-l-pad">Industry Collaboration</th>
              <td><%= yes_no_options.each{|k,v| break k if v.include?(Project.find(params[:project_id]).is_industry_collab) } %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Company</th>
              <td><%= @industry_collab_company %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Contact Name</th>
              <td><%= @industry_collab_contact_name %></td>
            </tr>

            <tr>
              <th class="table-no-l-pad">Contact Number</th>
              <td><%= @industry_collab_contact_number %></td>
            </tr>

            <% if current_user.user_role == "Coordinator" %>
              <tr>
                <td class="table-no-l-pad">
                  <%= link_to "Edit", edit_industry_collab_path %>
                </td>
              </tr>
            <% end %>

          </table>

        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>

    </div>
  </div>
</div>
