<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
</style>

<div>
  <p><%= link_to "<- Back", projects_path() %></p>
</div>

<h1>Projects</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>

    <h2><%= @project.project_title %></h2>

    <table>
      <tr>
        <td class="thead_vertical">Project ID</td>
        <td><%= @project.project_id %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Project Title</td>
        <td><%= @project.project_title %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Project Status</td>
        <td><%= @project.project_status %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Supervisor</td>
        <td><%= @supervisor.user_name %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Co-supervisor</td>
        <td><%= @co_supervisor %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Moderator</td>
        <td><%= @moderator %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Project Type</td>
        <td><%= project_type_options.each{|k,v| break k if v.include?(Project.find(params[:project_id]).project_type) } %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Specialisation</td>
        <td><%= @project.project_specialisation %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Project Category</td>
        <td><%= @project.project_category %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Focus</td>
        <td><%= @project.project_focus %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Other Specialisation</td>
        <td><%= @other_specialisation %></td>
      </tr>
    </table>

    <br>

    <table>
      <tr>
        <td class="thead_vertical">Project Description</td>
        <td><%= @project.project_description.gsub(/\n/, '<br/>').html_safe %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Project Objectives</td>
        <td><%= @project.project_objective.gsub(/\n/, '<br/>').html_safe %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Project Scope</td>
        <td><%= @project.project_scope.gsub(/\n/, '<br/>').html_safe %></td>
      </tr>
    </table>

    <br>

    <table>
      <tr>
        <td class="thead_vertical">Number of Students</td>
        <td><%= "qwertyuiop" %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Student 1 Name</td>
        <td><%= @student_one_user_name %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Student 1 Subtitle</td>
        <td><%= @student_one_subtitle %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Student 1 Work Distribution</td>
        <td><%= @student_one_work_distribution %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Student 2 Name</td>
        <td><%= @student_two_user_name %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Student 2 Subtitle</td>
        <td><%= @student_two_subtitle %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Student 2 Work Distribution</td>
        <td><%= @student_two_work_distribution %></td>
      </tr>
    </table>

    <br>

    <table>
      <tr>
        <td class="thead_vertical">Industry Collaboration</td>
        <td><%= yes_no_options.each{|k,v| break k if v.include?(Project.find(params[:project_id]).is_industry_collab) } %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Company</td>
        <td><%= @industry_collab_company %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Contact Name</td>
        <td><%= @industry_collab_contact_name %></td>
      </tr>

      <tr>
        <td class="thead_vertical">Contact Number</td>
        <td><%= @industry_collab_contact_number %></td>
      </tr>
    </table>

<!--    <p><%#= link_to "Edit", edit_announcement_path(@announcement) %></p>-->

  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% end %>