<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">Edit Project Placement</h3>
      </div>
      <div class="col col-padding-kill txt-align-right">
        <%= link_to "Back", project_path($project_id_pass), class: "btn btn-primary custom-btn" %>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.user_role == "Coordinator" %>
          <%= render "proj-details-summary-placements" %>

          <% if @presentation_id == "-" %>
            <div>
              <%= render "form", project_placement: @project_placement, txt_btn: "Update" %>
            </div>
          <% else %>
          <p><%= errmsg_presentation_id_exists %></p>
          <% end %>
        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>
    </div>
  </div>
</div>