<style>
    table, td {border: 1px solid black;}
</style>

<h1>Batch Management</h1>

<div>
  <% if user_signed_in? %>
    <% if current_user.user_role == "Manager" %>

      <table>
        <tr>
          <th>Batch ID</th>
          <th>Batch Name</th>
          <th>Batch Status</th>
          <th>Actions</th>
        </tr>

        <% @batches.each do |batch| %>
          <tr>
            <td><%= batch.batch_id %></td>
            <td><%= batch.batch_name %></td>
            <td><%= batch.batch_status %></td>
            <td><%= link_to "View", batch %> | <%= link_to "Edit", edit_batch_path(batch) %></td>
          </tr>
        <% end %>
      </table>

      <div>
        <span><%= link_to "New", new_batch_path %></span>
      </div>

    <% else %>
      <p><%= errmsg_no_permission_to_access %></p>
    <% end %>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
</div>