<style>
    table, td {border: 1px solid black;}
    .thead_vertical {font-weight: bold;}
</style>

<div>
  <p><%= link_to "<- Back", batchmgmt_path %></p>
</div>

<h1>Batch</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>
    <% # ------------------------------------------ # %>
    <div>
      <table>
        <% # --------- Batch ID --------- # %>
        <tr>
          <td class="thead_vertical">Batch ID</td>
          <td><%= @batch.batch_id %></td>
        </tr>

        <% # --------- Batch Name --------- # %>
        <tr>
          <td class="thead_vertical">Batch Name</td>
          <td><%= @batch.batch_name %></td>
        </tr>

        <% # --------- Date Created --------- # %>
        <tr>
          <td class="thead_vertical">Date Created</td>
          <td><%= @batch.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>

        <% # --------- Batch Status --------- # %>
        <tr>
          <td class="thead_vertical">Batch Status</td>
          <td><%= @batch.batch_status %></td>
        </tr>

        <% # --------- Number of Students --------- # %>
        <tr>
          <td class="thead_vertical">Number of Students</td>
          <td><%= @batch_students.length %></td>
        </tr>
      </table>

      <% # --------- Student List --------- # %>
      <hr>
      <div>
        <table>
          <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Specialisation</th>
            <th>Project ID</th>
            <th>Status</th>
          </tr>

          <% @batch_students.each do |stud| %>
            <tr>
              <td><%= stud.user_id %></td>
              <td><%= stud.user_name %></td>
              <td><%= stud.student_specialisation %></td>
              <td><%= "abcdefg" %></td>
              <td><%= stud.student_status %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>