<div class="accordion-item">
  <h2 class="accordion-header" id="headingProject">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject" aria-expanded="true" aria-controls="collapseProject">
      Projects
    </button>
  </h2>
  <div id="collapseProject" class="accordion-collapse collapse show" aria-labelledby="headingProject" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <%# ------------ SUMMARY ------------ %>
      <h5 class="h3-site">Summary</h5>
      <table class="table table-borderless table-sm">
        <tr>
          <th class="col-4 table-no-l-pad">No. of Project Titles (All)</th><td><%= @projects.count %></td>
        </tr>
        <tr>
          <th class="col-4 table-no-l-pad">No. of Project Titles (Active)</th><td><%= @projects_active.count %></td>
        </tr>
      </table>
      <hr>

      <%# ------------ BCS-SE ------------ %>
      <h5 class="h3-site">BCS (Software Engineering)</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_bcsse, confirmed: @projects_bcsse_confirmed, active: @projects_bcsse_active, vacant: @projects_bcsse_vacant } %>
      <hr>

      <%# ------------ BCS-DS ------------ %>
      <h5 class="h3-site">BCS (Data Science)</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_bcsds, confirmed: @projects_bcsds_confirmed, active: @projects_bcsds_active, vacant: @projects_bcsds_vacant } %>
      <hr>

      <%# ------------ BCS-GD ------------ %>
      <h5 class="h3-site">BCS (Game Development)</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_bcsgd, confirmed: @projects_bcsgd_confirmed, active: @projects_bcsgd_active, vacant: @projects_bcsgd_vacant } %>
      <hr>

      <%# ------------ BCS-AI ------------ %>
      <h5 class="h3-site">BCS (Artificial Intelligence)</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_bcsai, confirmed: @projects_bcsai_confirmed, active: @projects_bcsai_active, vacant: @projects_bcsai_vacant } %>
      <hr>

      <%# ------------ BCS-CY ------------ %>
      <h5 class="h3-site">BCS (Cybersecurity)</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_bcscy, confirmed: @projects_bcscy_confirmed, active: @projects_bcscy_active, vacant: @projects_bcscy_vacant } %>
      <hr>

      <%# ------------ BIT ------------ %>
      <h5 class="h3-site">BIT</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_bit, confirmed: @projects_bit_confirmed, active: @projects_bit_active, vacant: @projects_bit_vacant } %>
      <hr>

      <%# ------------ DIP-IT ------------ %>
      <h5 class="h3-site">Diploma in IT</h5>
      <%= render partial: "stats_projects_details", locals: { all: @projects_dipit, confirmed: @projects_dipit_confirmed, active: @projects_dipit_active, vacant: @projects_dipit_vacant } %>
    </div>
  </div>
</div>