<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">Presentation Slots</h3>
      </div>
      <% if user_signed_in? %>
        <% if current_user.user_role == "Manager" %>
          <div class="col col-padding-kill txt-align-right">
            <%= link_to "New", new_presentation_slot_path, class: "btn btn-primary custom-btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-contents">
    <div class="container table-responsive">
      <% if user_signed_in? %>
        <% if current_user.user_role == "Manager" || current_user.user_role == "Coordinator" %>

          <% if current_user.user_role == "Manager" %>
            <div class="row">
              <div class="col col-padding-kill txt-align-right">
                <span><%= link_to "Presentation Parameters Setup", presentation_params_path %></span>
              </div>
            </div>
          <% end %>

          <table class="table table-borderless table-hover">
            <tr>
              <th>Presentation ID</th>
              <th>Project ID</th>
              <th>Date/Time</th>
              <th>Student Name(s)</th>
              <th>Supervisor(s)</th>
              <th>Moderator</th>
              <th>Location</th>
              <th>Action</th>
            </tr>

            <% @pres_slots.each do |slot| %>
              <% moderator = ProjectPlacement.where(placement_id: slot.placement_id) %>
              <% placement_stud_raw = User.where(placement_id: slot.placement_id) %>
              <% placement_stud_name = placement_stud_raw.pluck(:user_name) %>
              <% stud1_name = placement_stud_name[0] %>
              <% if placement_stud_raw[1].nil? || placement_stud_raw[1] == "" || placement_stud_raw[1] == "-" %>
                <%  stud2_name = "" %>
              <% else %>
                <%  stud2_name = " & " + placement_stud_name[1] %>
              <% end %>
              <% placement_supervisor_raw = Project.where(placement_id: slot.placement_id) %>
              <% placement_supervisor_name = placement_supervisor_raw.pluck(:supervisor_id)[0] %>
              <% supervisor1_name = User.find_by_user_id(placement_supervisor_name).user_name %>
              <% project_title_render = placement_supervisor_raw.pluck(:project_id)[0] %>
              <% if placement_supervisor_raw.pluck(:supervisor_id)[1].nil? || placement_supervisor_raw.pluck(:supervisor_id)[1] == "-" || placement_supervisor_raw.pluck(:supervisor_id)[1] == "" %>
                <% supervisor2_name = "" %>
              <% else %>
                <% supervisor2_name = " & " + User.find_by_user_id(placement_supervisor_raw.pluck(:supervisor_id)[1]).user_name %>
              <% end %>
              <% moderator_raw = moderator.pluck(:moderator_id)[0] %>
              <% if moderator_raw.nil? || moderator_raw == "" || moderator_raw == "-" %>
                <% mod_name_display = "-" %>
              <% else %>
                <% mod_name_display = User.find_by_user_id(moderator_raw).user_name %>
              <% end %>

              <tr>
                <td><%= slot.presentation_id %></td>
                <td><%= project_title_render %></td>
                <td><%= slot.presentation_date.strftime('%d/%m/%Y') + " " + slot.presentation_time %></td>
                <td><%= stud1_name + stud2_name %></td>
                <td><%= supervisor1_name + supervisor2_name %></td>
                <td><%= mod_name_display %></td>
                <td><%= slot.presentation_location %></td>
                <td><%= link_to "View", slot, class: "btn btn-primary custom-btn custom-btn-edit" %></td>
              </tr>
            <% end %>
          </table>

        <% else %>
          <p><%= errmsg_no_permission_to_access %></p>
        <% end %>
      <% else %>
        <p><%= errmsg_no_permission_to_access %></p>
      <% end %>
    </div>
  </div>
</div>