<!DOCTYPE html>
<html>
  <head>
    <title>MmuFciFypPortalV03</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">INDEX</a></li>
        <% if user_signed_in? %>
          <li>Hello <b><%= current_user.user_name %> (<%= current_user.user_id %>)</b>. Your role is <b><%= current_user.user_role %></b>.</li>

          <!--- SHARED (MANAGER & COORDINATOR) --->
          <% if current_user.user_role == "Manager" || current_user.user_role == "Coordinator" %>
            <li><%= link_to "User Management", usermgmt_path() %></li>
            <li><%= link_to "Projects", projects_path() %></li>
            <li>Presentation</li>
          <% end %>

          <!--- EXCLUSIVELY FOR MANAGER --->
          <% if current_user.user_role == "Manager" %>
            <li>Batch Management</li>
          <% end %>

          <!--- SHARED (ALL) --->
          <li>Settings</li>
          <li><%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
        <% else %>
<!--          <li><%#= link_to "Sign Up" , new_user_registration_path %></li>-->
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
      <hr>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
